<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/designstyle.css">
<title>Document</title>
<style>
    html {
background: url(images/sfilebgImage.jpeg) no-repeat center center fixed;
background-size: cover;
height: 100%;
overflow: hidden;
}
</style>
</head>
<body>

<div class="main">
    <nav class="navbar">
    <ul>
        <li><a href="/blvd">artists</a></li>
        <li><a href="/blvd/new">create </a></li>
        <li><a href="/">home </a></li>
        
    </ul>
    </nav>
    </div>

    <br>

    <div class="blvd">
        BLVD
    </div>
   

</body>
</html>