<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW</title>
</head>
<body>
    <h1>new page to input new profile</h1>

    <form action="/blvd" method="POST">
        <label for="name"> Name:</label>
        <input type="text" name="name">
        <br>
        <label for="category"> Category:</label>
        <input type="text" name="category">
        <br>
        <label for="location"> Location:</label>
        <input type="text" name="location">
        <br>
        <input type="submit" value="Create Profile on BLVD">
    </form>
</body>
</html>