<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>NEW</title>
</head>
<body>
    <%- include('./partials/navbar')  %> 
    <h1>new page to input new profile</h1>

    <form action="/blvd" method="POST">
        <label for="userName"> Username:</label>
        <input type="text" name="UserName">
        <br>
        <label for="name"> Name:</label>
        <input type="text" name="name">
        <br>
        <label for="category"> Category:</label>
        <input type="text" name="category">
        <br>
        <label for="location"> Location:</label>
        <input type="text" name="location">
        <br>
        <label for="profileImage"> Profile Image: </label>
        <input type="text" name="profileImage">
        <br>
        <label for="about"> About Me: </label>
        <input type="text" name="about">
        <br>
        <label for="media"> Media Links: </label>
        <input type="text" name="media">
        <br>
        <input type="submit" value="Create Profile on BLVD">
    </form>


</body>
</html>