body {
    background-color: rgb(0, 0, 0);
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 250, 250, 0.1);
    padding: 5px;
    /* box-shadow: 5px 5px 10px rgb(174, 174, 174); */
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 5px;
}

nav a:hover {
    color: goldenrod
}

h1 {
  text-align: center;
  color: goldenrod;
  font-size: 30px
}
.add-pics {
  text-align: center;
  color: goldenrod;
  font-size: 30px
}



.container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
      "pic pic title title"
      " pic pic about about"
      "pic pic media media ";
       
      display: flex;
      /* justify-content: center; */
      align-items: center;
      flex-direction: column;
      background-color: rgba(40, 40, 40, 0.5);
  }

  .title {
    grid-area: title;
    color: goldenrod;
    /* background-color: crimson; */
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 1); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(40, 40, 40, 0.5);
  }

  /* .pic {
    grid-area: pic;
    background-color: rgb(20, 20, 220);
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 1); 
  }*/
  .about {
    grid-area: about;
    background-color: rgba(218, 218, 217, 0.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    color: white;
    padding: 25px;
    font-size: 20px ;
  }
  .media {
    grid-area: media;
    background-color: rgb(12, 184, 46, 0.2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    padding: 20px;
  }


.img-container {
  display: flex;
  justify-content: center;
  background-color: rgba(40, 40, 40, 0.5);
  padding-top: 50px;
}

.profile-pic {
  max-width: 800px;
  max-height: 800px;
  /* padding: 60px; */
  box-shadow: 5px 5px 10px rgb(255, 255, 255);
}

.gallery {
  display: flex;
  justify-content: center;
  padding: 50px;
  
}

.img-gallery {
  padding: 60px
}

img {
    max-width: 800px;
    max-height: 800px;
    /* padding: 60px; */
  
    
}

strong {
  color: white;
  font-size: 30px;
}

form {
  color: white;
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;
}